{% extends 'non_registered_user/base.html' %}
{% load static %}
{% block headblock %}
<link rel="stylesheet" href="{%static "non_registered_user\style\index.css"%}">
{% endblock %}

{% block bodyblock %}
     <div class="Background" >
     {% include 'non_registered_user/navbar.html' %}
        
        <div class="Purpose">
            <h1 id="purpose">"Best Place To Find Your Best Life Partner"</h1>
            <a href="{%url 'explore'%}" id="explore_a"><button id="btn-explore">Explore Here</button><a>           
        </div>
       
    </div>

    {% include 'non_registered_user/footer.html' %}
     
{% endblock %}