
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Background{

    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url("/static/non_registered_user/images/backgroud.jfif");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;

}


.Purpose{
    margin-top: 200px;
    text-align: center;
}

.Purpose h1{
    color: #fff;

}

#btn-explore{
    margin-top: 20px;
    background-color: rgb(240, 240, 6);
    color: black;
    border: none;
    padding: 15px 40px;
    border-radius: 12px;
    transition: 0.5s;
}



#btn-explore:hover{
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 2px solid black;
    text-decoration: none;
}

