{% extends 'non_registered_user/base.html' %}
{% load static %}

{% block headblock %}
<link rel="stylesheet" href="{%static "registered_user\style\explore.css"%}">
{% endblock %}

{% block bodyblock %}
    {% include 'registered_user/navbar.html' %}
    <div class="Mainbody">
        <div class="filter"><h1>Filter</h1></div>
        <div class="Result">
        <form class="searchcandidate" method = 'GET' action = 'search'>
            <input type="text" name="search" placeholder="Search.." id="searchbar">
        </form>
        <div class= 'searchResult'>  
        {% if userdetails %}
        {% for userinfo in userdetails %}
        {{userinfo.FirstName}}<br>
        {{userinfo.LastName}}<br>
        {{userinfo.age}}<br>
        {{userinfo.occupation}}<br>
        {% endfor %}   
        {% else %}
        <div id='noresult'>Result Not found</div>
        {% endif %}
        </div>
            
        </div>
    </div>
     {% include 'non_registered_user/footer.html' %}
{% endblock %}